<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="img/favicon.png" type="image/png" />
    <title>Edustage Education</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/flaticon.css" />
    <link rel="stylesheet" href="css/themify-icons.css" />
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css" />
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <!--================ Start Header Menu Area =================-->
    <header class="header_area white-header"> 
      <div class="main_menu">
        <div class="search_input" id="search_input_box">
          <div class="container">
            <form class="d-flex justify-content-between" method="" action="">
              <input
                type="text"
                class="form-control"
                id="search_input"
                placeholder="Search Here"
              />
              <button type="submit" class="btn"></button>
              <span
                class="ti-close"
                id="close_search"
                title="Close Search"
              ></span>
            </form>
          </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
             
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="icon-bar"></span> <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div
              class="collapse navbar-collapse offset"
              id="navbarSupportedContent"
            >
              <ul class="nav navbar-nav menu_nav ml-auto">
                <li class="nav-item ">
                  <a class="nav-link" href="index">Home</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="about-us">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="index">Classes</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#foot">Contact Us</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="login">Login/Signup</a>
				  </li>
                
                
                  </ul>
                 
                
                 
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!--================ End Header Menu Area =================-->

    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="banner_content text-center">
                <h2>About Us</h2>
                <div class="page_link">
                  <a href="index">Home</a>
                  <a href="about-us">About Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================ Start About Area =================-->
    <section class="about_area section_gap">
      <div class="container">
        <div class="row h_blog_item">
          <div class="col-lg-12">
            <div class="h_blog_img">
               
            </div>
          </div>
          <div class="col-lg-12">
            <div class="h_blog_text">
              <div class="h_blog_text_inner left right">
                We emerged as an online tutoring platform that helps students to overcome their pain areas in academics by providing the exact resources they need. Driving force behind the venture is passion to support young children and teenagers of all levels. Here, we focus on providing one to one live sessions, thus adding value to the school curriculum by supplementing it. For those who aspire to excel, the adaptive process leads them to challenge themselves. The tutors are from reputed institutions, carefully chosen to be highly adaptive to deliver online live classes.
							We provide personalised online tuition, mentoring and coaching to students from Class 1 to Class 10 and gives special focus on Classes 9 & 10. The program is highly flexible which means the number of sessions can be scaled up or down as per need.
							Comprehensive support to High School students of all curriculum :
							CBSE for Mathematics, Physics, Chemistry and all Sciences.
							Once enrolled, the students receive a series of custom scheduled sessions from an approved private tutor. Students need to have a good internet connection. Students can access our interactive whiteboard to attend the sessions on their PC at the convenience of their own homes. Recorded sessions help students to revise the past sessions and prepare well
							Sessions are generally group, one to one sessions will be offered from time to time as needed. Students are encouraged to communicate with their teacher about any questions or doubts. We continuously assess the student and adapt our e-tutoring to meet their needs.
							We believe that every child has a right to reach their full potential. We also understand that each child is different. So we engage with each student with an adaptive approach. This involves the collection of student's exercises, their school plan, schedule of tests. The teacher gets to know the student's strengths and weaknesses and builds up a strategy to reach their goals. This kind of approach will take a few months to take effect as the teacher and student gets to know each other better. We encourage student and parent participation to share more academic information and ambitions or goals pertaining to the student.
							We are in the process of continuously changing with the needs of modern education methodology to prepare students for the jobs of the future. This includes the use of technology to personalise education to each student. We aim to help each student to attain the much needed life skill, of a lifelong learner.
							 In order to unleash the child’s full potential, we join hands with parents to nurture their academic dreams, helping them to pursue their academic interests with our resources.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End About Area =================-->

    <footer id="foot" class="footer-area section_gap">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-6 single-footer-widget">
             
           
          </div>
          <div class="col-lg-2 col-md-6 single-footer-widget">
            
          </div>
          <div class="col-lg-2 col-md-6 single-footer-widget">
             
          </div>
          <div class="col-lg-2 col-md-6 single-footer-widget">
            
          </div>
           
        </div>
        <div class="row footer-bottom d-flex justify-content-between">
          <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">
             
 
 
          </p>
          <div class="col-lg-4 col-sm-12 footer-social">
            <a href="#"><i class="ti-facebook"></i></a>
            <a href="#"><i class="ti-twitter"></i></a>
            <a href="#"><i class="ti-dribbble"></i></a>
            <a href="#"><i class="ti-linkedin"></i></a>
          </div>
        </div>
      </div>
    </footer>
    <!--================ End footer Area  =================-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/owl-carousel-thumb.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/mail-script.js"></script>
    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="js/gmaps.min.js"></script>
    <script src="js/theme.js"></script>
  </body>
</html>
