<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!---*************welcome this is my simple empty strap by John Niro Yumang ******************* -->

<!DOCTYPE html>
<html lang="en">

	<title>Sign up  And  login for students</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<head>
		<script src="jquery/jquery.min.js"></script>
		<!---- jquery link local dont forget to place this in first than other script or link or may not work ---->
		
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<!---- boostrap.min link local ----->
		
		<link rel="stylesheet" href="css/style.css">
		<!---- boostrap.min link local ----->

		<script src="js/bootstrap.min.js"></script>
		<!---- Boostrap js link local ----->
		
		<link rel="icon" href="images/icon.png" type="image/x-icon" />
		<!---- Icon link local ----->
		
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<style>
		body {background-color:#eee;}
.container-fluid {padding:50px;}
.container{background-color:white;padding:50px;   }
#title{font-family: 'Lobster', cursive;;}
	</style>
		<!---- Font awesom link local ----->
	</head>
	<body>
		<div class="container">
			<legend class="text-center">Forgot Password</legend>
			<div class="row" style="margin: 0 auto; width: 30%;">
				<div class="col-md-12">
					<form action="/forgot" method="POST">				
						<div class="form-group">
							<label>Email:</label>
							<input type="email" name="email" class="form-control" autofocus required placeholder="email">
						</div>
						<div class="form-group">
							<input type="submit" value="Reset Password" class="btn btn-primary btn-block">
						</div>
					</form>
				 
				</div>
			</div>
		</div>
	</body>
	 

</html>