<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="img/favicon.png" type="image/png" />
    <title>Edustage Education</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/flaticon.css" />
    <link rel="stylesheet" href="css/themify-icons.css" />
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css" />
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
      <div class="main_menu">
        <div class="search_input" id="search_input_box">
          <div class="container">
            <form class="d-flex justify-content-between" method="" action="">
              <input
                type="text"
                class="form-control"
                id="search_input"
                placeholder="Search Here"
              />
              <button type="submit" class="btn"></button>
              <span
                class="ti-close"
                id="close_search"
                title="Close Search"
              ></span>
            </form>
          </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand logo_h" href="index"
              ><img src="img/logo.png" style="height: 150px; width: 100px;" alt=""
            /></a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="icon-bar"></span> <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div
              class="collapse navbar-collapse offset"
              id="navbarSupportedContent"
            >
              <ul class="nav navbar-nav menu_nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="index">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about-us">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#class">Classes</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#foot">Contact Us</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="terms">Terms</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="login">Login/Signup</a>
				  </li>
                
                
                  </ul>
                 
                
                 
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!--================ End Header Menu Area =================-->

    <!--================ Start Home Banner Area =================-->
    <section class="home_banner_area">
      <div class="banner_inner">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="banner_content text-center">
                <p class="upper_text"><img src="/assets/img/main.png" alt=""></p>
                 
                <div>
                  <a href="https://docs.google.com/forms/d/e/1FAIpQLSfPzbIHvwzby0izl51AEQh6g6bWDdMlQUPTSyWVOmbuYAtuNw/viewform?usp=sf_link" class="primary-btn2 mb-3 mb-sm-0">I am a Tutor</a>
				  <a href="#class" class="primary-btn ml-sm-3 ml-0">I am a Student</a>
				  <a href="https://docs.google.com/forms/d/e/1FAIpQLSewCX8Cf5AxB5gPDpAoOBkgpvB9Kt6whX4rKixRhHb-DxttFQ/viewform?usp=sf_link" class="primary-btn2 mb-3 mb-sm-0">Book Demo</a>
                  <a href="https://docs.google.com/forms/d/e/1FAIpQLSfFY7P_R4aa1RSIdFs88trybzIQJsQPfTfxHsLwSrZ7JGWDnA/viewform?usp=sf_link" class="primary-btn ml-sm-3 ml-0">Want Private tutions</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End Home Banner Area =================-->

    <!--================ Start Feature Area =================-->
	<section class="foot" class="feature_area section_gap_top">
		<div class="container">
		  <div class="row justify-content-center">
			<div class="col-lg-5">
			  <div class="main_title">
				<h2 class="mb-3">Awesome Features</h2>
				<p>
				 
				</p>
			  </div>
			</div>
		  </div>
		  <div class="row">
			<div class="col-lg-4 col-md-6">
			  <div class="single_feature">
				<div class="icon"><span class="flaticon-student"></span></div>
				<div class="desc">
				  <h4 class="mt-3 mb-2">Parent communication module</h4>
				  <p>
					Easy and efficient two way communications between parents and teachers.
				  </p>
				</div>
			  </div>
			</div>
  
			<div class="col-lg-4 col-md-6">
			  <div class="single_feature">
				<div class="icon"><span class="flaticon-book"></span></div>
				<div class="desc">
				  <h4 class="mt-3 mb-2">  Online Assesment</h4>
				  <p>
					 Online tests powered with checking and solutions
				  </p>
				</div>
			  </div>
			</div>
  
			<div class="col-lg-4 col-md-6">
			  <div class="single_feature">
				<div class="icon"><span class="flaticon-earth"></span></div>
				<div class="desc">
				  <h4 class="mt-3 mb-2">Learn from home</h4>
				  <p>
					Clear all your doubt in live tution class.Experience a highly interactive class with out experts teachers.
				  </p>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </section>
    <!--================ End Feature Area =================-->

    <!--================ Start Popular Courses Area =================-->
    <div class="popular_courses" id="class">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="main_title">
              <h2 class="mb-3"> Courses And Details</h2>
              <p>
               
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- single course -->
          <div class="col-lg-12">
            <div class="owl-carousel active_course">
              <div class="single_course">
                <div class="course_head">
                  <img class="img-fluid" src="img/courses/c2.jpg" alt="" />
                </div>
                <div class="course_content">
                  <span class="price">Rs.2000</span>
                  
                  <h4 class="mb-3">
                    <a href=" ">Classes 1 to 3</a>
                  </h4>
                  <p>
                    Primary education is important as it ensures the development of critical thinking,Problem solving ,Socialising and cognitive skills to a child's life.
                  </p>
                  <div
                    class="course_meta d-flex justify-content-lg-between align-items-lg-center flex-lg-row flex-column mt-4"
                  >
                    
                    
                  </div>
                </div>
              </div>

              <div class="single_course">
                <div class="course_head">
                  <img class="img-fluid" src="img/courses/c1.jpg" alt="" />
                </div>
                <div class="course_content">
                  <span class="price">Rs.2000</span>
                  
                  <h4 class="mb-3">
                    <a href=" ">Classes 4 to 5</a>
                  </h4>
                  <p>
                    Primary education is important as it ensures the development of critical thinking,Problem solving ,Socialising and cognitive skills to a child's life.
                  </p>
                  <div
                    class="course_meta d-flex justify-content-lg-between align-items-lg-center flex-lg-row flex-column mt-4"
                  >
                    
                    
                  </div>
                </div>
			  </div>
			  
              <div class="single_course">
                <div class="course_head">
                  <img class="img-fluid" src="img/courses/c1.jpg" alt="" />
                </div>
                <div class="course_content">
                  <span class="price">Rs.2000</span>
                  
                  <h4 class="mb-3">
                    <a href=" ">Classes 5 to 8</a>
                  </h4>
                  <p>
                    Primary education is important as it ensures the development of critical thinking,Problem solving ,Socialising and cognitive skills to a child's life.
                  </p>
                  <div
                    class="course_meta d-flex justify-content-lg-between align-items-lg-center flex-lg-row flex-column mt-4"
                  >
                    
                    
                  </div>
                </div>
			  </div>
			  <div class="single_course">
                <div class="course_head">
                  <img class="img-fluid" src="img/courses/c1.jpg" alt="" />
                </div>
                <div class="course_content">
                  <span class="price">Rs.2000</span>
                  
                  <h4 class="mb-3">
                    <a href=" ">Classes 8 to 10</a>
                  </h4>
                  <p>
                    Primary education is important as it ensures the development of critical thinking,Problem solving ,Socialising and cognitive skills to a child's life.
                  </p>
                  <div
                    class="course_meta d-flex justify-content-lg-between align-items-lg-center flex-lg-row flex-column mt-4"
                  >
                    
                    
                  </div>
                </div>
			  </div>
			  <div class="single_course">
                <div class="course_head">
                  <img class="img-fluid" src="img/courses/c1.jpg" alt="" />
                </div>
                <div class="course_content">
                  <span class="price">Rs.2000</span>
                  
                  <h4 class="mb-3">
                    <a href=" ">French</a>
                  </h4>
                  <p>
                    Primary education is important as it ensures the development of critical thinking,Problem solving ,Socialising and cognitive skills to a child's life.
                  </p>
                  <div
                    class="course_meta d-flex justify-content-lg-between align-items-lg-center flex-lg-row flex-column mt-4"
                  >
                    
                    
                  </div>
                </div>
              </div>

              <div class="single_course">
                <div class="course_head">
                  <img class="img-fluid" src="img/courses/c3.jpg" alt="" />
                </div>
                <div class="course_content">
                  <span class="price">Rs.2000</span>
                  
                  <h4 class="mb-3">
                    <a href=" ">Spanish</a>
                  </h4>
                  <p>
                    Primary education is important as it ensures the development of critical thinking,Problem solving ,Socialising and cognitive skills to a child's life.
                  </p>
                  <div
                    class="course_meta d-flex justify-content-lg-between align-items-lg-center flex-lg-row flex-column mt-4"
                  >
                    
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--================ End Popular Courses Area =================-->

     

    

    <!--================ Start footer Area  =================-->
    <footer id="foot" class="footer-area section_gap">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-6 single-footer-widget">
             
           
          </div>
          <div class="col-lg-2 col-md-6 single-footer-widget">
            
          </div>
          <div class="col-lg-2 col-md-6 single-footer-widget">
             
          </div>
          <div class="col-lg-2 col-md-6 single-footer-widget">
            
          </div>
           
        </div>
        <div class="row footer-bottom d-flex justify-content-between">
          <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">
             
 
 
          </p>
          <div class="col-lg-4 col-sm-12 footer-social">
            <a href="#"><i class="ti-facebook"></i></a>
            <a href="#"><i class="ti-twitter"></i></a>
            <a href="#"><i class="ti-dribbble"></i></a>
            <a href="#"><i class="ti-linkedin"></i></a>
          </div>
        </div>
      </div>
    </footer>
    <!--================ End footer Area  =================-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/owl-carousel-thumb.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/mail-script.js"></script>
    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="js/gmaps.min.js"></script>
    <script src="js/theme.js"></script>
  </body>
</html>
